:root { 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_100_02:#d7d7d7; 
--green_900:#027300; 
--black_900_3f:#0000003f; 
--gray_50:#fafbfc; 
--black_900:#000000; 
--light_green_800:#4d9a00; 
--blue_gray_700:#425f57; 
--deep_orange_500:#ff6d28; 
--blue_gray_900:#333333; 
--deep_purple_A700:#1900d5; 
--red_A700:#ff0000; 
--gray_600:#7c7c7c; 
--gray_400:#b0b0b0; 
--deep_purple_A200_26:#8833ff26; 
--blue_gray_100:#d1d1d1; 
--blue_gray_900_07:#26334d07; 
--blue_gray_400:#8e8d8d; 
--gray_800:#3c3c3c; 
--gray_900:#171717; 
--gray_900_01:#111111; 
--yellow_A700:#f0d411; 
--gray_300:#e3e3e3; 
--gray_300_01:#e4e4e4; 
--gray_100:#f7f7f7; 
--gray_100_03:#f5f6f7; 
--gray_100_02:#f2f3f5; 
--deep_purple_A700_01:#8400d5; 
--indigo_100:#c3cad9; 
--gray_100_01:#f2f2f2; 
--blue_gray_400_01:#7d8fb3; 
--white_A700:#ffffff; 
--black_900_59:#00000059; 
}